:root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient( */
  /* to bottom, */
  /* transparent, */
  /* rgb(var(--background-end-rgb)) */
  /* ) */
  /* rgb(var(--background-start-rgb)); */
}

/* from https://codepen.io/nelledejones/pen/gOOPWrK */
.swing {
  transform-origin: top center;
  animation: swing 2s ease infinite;
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
