name: 'Node Linter'
run-name: ${{ github.actor }} is linting Typescript
on:
  pull_request:
jobs:
  run-linter:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: lts/jod
    - run: npm ci --legacy-peer-deps
    - run: npm run lint
