name: 'Typescript Compiler'
run-name: ${{ github.actor }} is type checking Typescript
run: echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> $GITHUB_ENV
on:
  pull_request:
jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: lts/jod
    - run: npm ci --legacy-peer-deps
    - run: npx tsc
