name: 'Typescript Compiler'
run-name: ${{ github.actor }} is type checking Typescript
on:
  pull_request:
jobs:
  tsc:
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: lts/krypton
    - run: npm ci --legacy-peer-deps
    - run: npx tsc
